---
import Layout from '../layouts/Page.astro';
---

<Layout title="?¿">
    <figure class="image is-16by9">
        <img class="is-rounded" src="/kernelpanic.png">
      </figure>

    <h3 class="title is-3">It's okay</h3>
    <p class="subtitle is-5">We all have those days</p>
    <p class="subtitle is-5">You can go back to the <a href="/">home page</a></p>
</Layout>