---
import Layout from "../layouts/Page.astro";
---

<Layout title="About">
  <div id="about">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile container">
          <div class="tile is-parent is-4 is-vertical">
            <article class="tile is-child notification is-primary">
              <p class="title">Anguel Hristozov</p>
              <p class="subtitle">Software Engineer</p>
              <div class="content">
                <p class="has-text-white">
                  Hello! I'm Anguel Hristozov, a software engineer focused on building impactful
                  solutions that solve real problems.
                </p>

                <p class="has-text-white">
                  I earned my M.Sci. in Software Engineering with First Class Honours from the
                  University of Glasgow in Scotland. Since then, I've been involved in multiple
                  projects from early-stage startups to established companies.
                </p>

                <p class="has-text-white">
                  I can wear multiple hats and contribute across the full stack. While I maintain
                  strong technical opinions shaped by hands-on experience, I believe in choosing the
                  right tool for each situation.
                </p>

                <p class="has-text-white">
                  I'm currently involved with <a
                    href="https://clidey.com/"
                    target="_blank"
                    referrerpolicy="no-referrer">Clidey</a
                  >
                  and <a
                    href="https://github.com/clidey/whodb/"
                    target="_blank"
                    referrerpolicy="no-referrer">WhoDB</a
                  >. Check them out!
                </p>

                <p class="has-text-white">
                  If you're working on something interesting or just want to chat, feel free to
                  reach out through any of the contact options above!
                </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-primary">
              <p class="title">Skills and interests</p>
              <div class="content">
                <h5 class="has-text-warning">Professional</h5>
                <div class="field is-grouped is-grouped-multiline">
                  <div class="tags">
                    <span class="tag is-info has-text-white">Programming Languages:</span>
                    <span class="tag is-white">Java</span>
                    <span class="tag is-white">Python</span>
                    <span class="tag is-white">Javascript</span>
                    <span class="tag is-white">Golang</span>
                    <span class="tag is-white">Node.js</span>
                  </div>
                  <div class="tags">
                    <span class="tag is-info has-text-white">Platforms:</span>
                    <span class="tag is-white">Amazon Web Services</span>
                    <span class="tag is-white">Google Cloud Platform</span>
                    <span class="tag is-white">Heroku</span>
                    <span class="tag is-white">Netlify</span>
                    <span class="tag is-white">Android</span>
                    <span class="tag is-white">Firebase</span>
                  </div>
                  <div class="tags">
                    <span class="tag is-info has-text-white">Frameworks/Libraries:</span>
                    <span class="tag is-white">Django</span>
                    <span class="tag is-white">Flask</span>
                    <span class="tag is-white">Vue.js</span>
                    <span class="tag is-white">React.js</span>
                    <span class="tag is-white">Bootstrap</span>
                    <span class="tag is-white">Pandas</span>
                    <span class="tag is-white">scikit-learn</span>
                  </div>
                  <div class="tags">
                    <span class="tag is-info has-text-white">Tools:</span>
                    <span class="tag is-white">Git</span>
                    <span class="tag is-white">IntelliJ IDEA</span>
                    <span class="tag is-white">PyCharm</span>
                    <span class="tag is-white">Android Studio</span>
                    <span class="tag is-white">Visual Studio Code</span>
                  </div>
                  <div class="tags">
                    <span class="tag is-info has-text-white">Currently learning:</span>
                    <span class="tag is-white">Networking</span>
                    <span class="tag is-white">React Native</span>
                    <span class="tag is-white">FastAPI</span>
                    <span class="tag is-white">Golang</span>
                    <span class="tag is-white">GraphQL</span>
                  </div>
                </div>
                <hr />
                <h5 class="has-text-warning">Personal</h5>
                <div class="field is-grouped is-grouped-multiline">
                  <div class="tags">
                    <span class="tag is-info has-text-white">Reading:</span>
                    <span class="tag is-white">Science fiction</span>
                    <span class="tag is-white">Mystery</span>
                    <span class="tag is-white">History</span>
                    <span class="tag is-white">Business and finance</span>
                    <span class="tag is-white">Biography/Autobiography</span>
                    <span class="tag is-white">Scientific</span>
                  </div>
                  <div class="tags">
                    <span class="tag is-info has-text-white">Writing:</span>
                    <span class="tag is-white">Poetry</span>
                    <span class="tag is-white">Short stories</span>
                    <span class="tag is-white">Technical</span>
                    <span class="tag is-white">Blog posts</span>
                  </div>
                  <div class="tags">
                    <span class="tag is-info has-text-white">Physical activities:</span>
                    <span class="tag is-white">Hiking</span>
                    <span class="tag is-white">Camping</span>
                    <span class="tag is-white">Skiing</span>
                    <span class="tag is-white">Ice skating</span>
                    <span class="tag is-white">Biking</span>
                  </div>
                  <div class="tags">
                    <span class="tag is-info has-text-white">Gaming:</span>
                    <span class="tag is-white">Real time strategy</span>
                    <span class="tag is-white">Turn based strategy</span>
                    <span class="tag is-white">Cooperative PvE</span>
                    <span class="tag is-white">Single-player campaign-based</span>
                  </div>
                  <div class="tags">
                    <span class="tag is-info has-text-white">Currently learning:</span>
                    <span class="tag is-white">Music theory</span>
                    <span class="tag is-white">FL Studio</span>
                  </div>
                  <br />
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
