---
import Layout from '../layouts/Page.astro';
---

<Layout title="About">
  <div id="about">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12">
                    <div class="tile">
                        <div class="tile is-parent is-4 is-vertical">
                            <article class="tile is-child notification is-primary">
                                <p class="title">Anguel Hristozov</p>
                                <p class="subtitle">Software Engineer</p>
                                <div class="content">
                                    <p class="has-text-white">Hi there. My name is Anguel Hristozov, and I'm a software engineer.</p>
                                    
                                    <p class="has-text-white">I did my undergraduate at the University of Glasgow in Scotland and finished with a M.Sci. in Software Engineering with Honours of the First Class.</p>
                                    
                                    <p class="has-text-white">This means that my interest in tech and programming is quite strong. I enjoy learning about new topics and tend to have strong opinions based on experience and ignorance.</p>
                                    
                                    <p class="has-text-white">I occasionally write technical blog posts at <a href="https://thefake.dev" target="_blank">thefake.dev</a>. The name was inspired by the classic imposter syndrome that affects many of us software engineers (cheeky, I know).</p>
                                    
                                    <p class="has-text-white">Thank you for visiting my page. You can find my contact details in the top right navigation bar buttons.</p>
                                </div>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child notification is-info">
                                <p class="title">Skills and interests</p>
                                <div class="content">
                                    <h5 class="has-text-black">Tech</h5>
                                    <div class="field is-grouped is-grouped-multiline">
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Programming Languages:</span>
                                            <span class="tag is-white">Java</span>
                                            <span class="tag is-white">Python</span>
                                            <span class="tag is-white">Javascript</span>
                                            <span class="tag is-white">Node.js</span>
                                        </div>
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Platforms:</span>
                                            <span class="tag is-white">Amazon Web Services</span>
                                            <span class="tag is-white">Google Cloud Platform</span>
                                            <span class="tag is-white">Heroku</span>
                                            <span class="tag is-white">Netlify</span>
                                            <span class="tag is-white">Android</span>
                                            <span class="tag is-white">Firebase</span>
                                        </div>
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Frameworks/Libraries:</span>
                                            <span class="tag is-white">Django</span>
                                            <span class="tag is-white">Flask</span>
                                            <span class="tag is-white">Vue.js</span>
                                            <span class="tag is-white">React.js</span>
                                            <span class="tag is-white">Bootstrap</span>
                                            <span class="tag is-white">scikit-learn</span>
                                            <span class="tag is-white">jQuery</span>
                                        </div>
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Tools:</span>
                                            <span class="tag is-white">Git</span>
                                            <span class="tag is-white">IntelliJ IDEA</span>
                                            <span class="tag is-white">PyCharm</span>
                                            <span class="tag is-white">Visual Studio Code</span>
                                        </div>
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Currently learning:</span>
                                            <span class="tag is-white">Networking</span>
                                            <span class="tag is-white">React Native</span>
                                            <span class="tag is-white">Figma</span>
                                            <span class="tag is-white">FastAPI</span>
                                        </div>
                                    </div>
                                    <hr/>
                                    <h5 class="has-text-black">Personal</h5>
                                    <div class="field is-grouped is-grouped-multiline">
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Reading:</span>
                                            <span class="tag is-white">Science fiction</span>
                                            <span class="tag is-white">Mystery</span>
                                            <span class="tag is-white">History</span>
                                            <span class="tag is-white">Business and finance</span>
                                            <span class="tag is-white">Biography/Autobiography</span>
                                            <span class="tag is-white">Scientific</span>
                                        </div>
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Writing:</span>
                                            <span class="tag is-white">Poetry</span>
                                            <span class="tag is-white">Short stories</span>
                                            <span class="tag is-white">Technical</span>
                                            <span class="tag is-white">Blog posts</span>
                                        </div>
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Physical activities:</span>
                                            <span class="tag is-white">Hiking</span>
                                            <span class="tag is-white">Camping</span>
                                            <span class="tag is-white">Skiing</span>
                                            <span class="tag is-white">Ice skating</span>
                                            <span class="tag is-white">Biking</span>
                                        </div>
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Gaming:</span>
                                            <span class="tag is-white">Real time strategy</span>
                                            <span class="tag is-white">Turn based strategy</span>
                                            <span class="tag is-white">Cooperative PvE</span>
                                            <span class="tag is-white">Single-player campaign-based</span>
                                        </div>
                                        <div class="tags">
                                            <span class="tag is-warning has-text-white">Currently learning:</span>
                                            <span class="tag is-white">Music theory</span>
                                            <span class="tag is-white">FL Studio</span>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</Layout>