---
import Layout from '../layouts/Page.astro';
---

<Layout
	title="Projects"
	description="My projects"
>
	<div id="projects">
            <div class="box">
                <div class="block">
                    <div class="content">
                        <h3>Applying Epidemic Algorithms and Federated Learning Concepts to Predict Social Anxiety with Application Session Usage Data</h3>
                        <a href="https://github.com/modelorona/Year-5-Dissertation" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github Repo</span>
                                <hr/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="block">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="tags">
                            <span class="tag is-info">Tech:</span>
                            <span class="tag is-white"><a href="https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API" target="_blank">WebRTC</a></span>
                            <span class="tag is-white"><a href="https://firebase.google.com/" target="_blank">Firebase</a></span>
                            <span class="tag is-white"><a href="https://github.com/uNetworking/uWebSockets.js/" target="_blank">&#181;WebSockets.js</a></span>
                            <span class="tag is-white"><a href="https://github.com/coturn/coturn" target="_blank">coturn</a></span>
                            <span class="tag is-white"><a href="https://haifengl.github.io/" target="_blank">Smile</a></span>
                            <span class="tag is-white">+ Same as year 4</span>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Year:</span>
                                <span class="tag is-white is-outlined">2020</span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Type:</span>
                                <span class="tag is-white is-outlined">Dissertation</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <p class="projects-list-item-description">
                        This project expanded upon what I did in my fourth-year dissertation.
                        Here, I looked at (1) how an epidemic algorithm could disseminate data between participants in a peer-to-peer manner and how (2) federated model training performs in such an environment.
                        Additionally, I gathered performance data to gauge how the application functioned as a whole.
                        Unfortunately, the study was inconclusive as there were not enough participants, and the data was messy.
                        Nonetheless, it suggested that there could be a benefit to using such a system with more participants.
                    </p>
                </div>
            </div>
            
            
            <div class="box">
                <div class="block">
                    <div class="content">
                        <h3>Predicting Social Anxiety with Application Session Usage Data</h3>
                        <a href="https://github.com/modelorona/level4dissertation" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github Repo</span>
                            </span>
                        </a>
                        <a href="https://github.com/modelorona/level4dissertation/blob/master/report/2255541h.pdf" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-file-pdf"></i>
                                </span>
                                <span>Report</span>
                                <hr/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="block">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="tags">
                            <span class="tag is-info">Tech:</span>
                            <span class="tag is-white"><a href="https://www.python.org/" target="_blank">Python 3</a></span>
                            <span class="tag is-white"><a href="https://www.java.com/en/" target="_blank">Java</a></span>
                            <span class="tag is-white"><a href="https://www.android.com/" target="_blank">Android</a></span>
                            <span class="tag is-white"><a href="https://square.github.io/okhttp/" target="_blank">OkHttp</a></span>
                            <span class="tag is-white"><a href="https://aws.amazon.com/" target="_blank">AWS</a></span>
                            <span class="tag is-white"><a href="https://mariadb.org/" target="_blank">MariaDB</a></span>
                            <span class="tag is-white"><a href="https://fastify.io" target="_blank">Fastify</a></span>
                            <span class="tag is-white"><a href="https://pandas.pydata.org/" target="_blank">Pandas</a></span>
                            <span class="tag is-white"><a href="https://seaborn.pydata.org/" target="_blank">seaborn</a></span>
                            <span class="tag is-white"><a href="https://scikit-learn.org/stable/" target="_blank">scikit-learn</a></span>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Year:</span>
                                <span class="tag is-white is-outlined">2020</span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Type:</span>
                                <span class="tag is-white is-outlined">Dissertation</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <p class="projects-list-item-description">
                        This project aimed to develop an accurate method of identifying socially anxious individuals based on their application usage session data.
                        This data is essentially the applications individuals use whenever their smartphone is unlocked.
                        Three different decision tree models were created - decision tree, extra trees, and random forest.
                        The project suggested that application usage session data can be considered a good indicator of social anxiety.
                        Still, as it is a student dissertation, no meaningful conclusion can be extracted without more research.
                    </p>
                </div>
            </div>
            
            
            <div class="box">
                <div class="block">
                    <div class="content">
                        <h3>Scroll-It</h3>
                        <a href="https://github.com/modelorona/Scroll-It" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github Repo</span>
                            </span>
                        </a>
                        
                        <a href="https://scroll-it.xyz" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-link"></i>
                                </span>
                                <span>Website</span>
                                <hr/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="block">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="tags">
                            <span class="tag is-info">Tech:</span>
                            <span class="tag is-white"><a href="https://vuejs.org/" target="_blank">Vue.js</a></span>
                            <span class="tag is-white"><a href="https://vuetifyjs.com/" target="_blank">Vuetify</a></span>
                            <span class="tag is-white"><a href="https://github.com/not-an-aardvark/snoowrap" target="_blank">snoowrap</a></span>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Host:</span>
                                <span class="tag is-white"><a href="https://www.netlify.com/" target="_blank">Netlify</a></span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Year:</span>
                                <span class="tag is-white is-outlined">2020</span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Type:</span>
                                <span class="tag is-white is-outlined">Personal Project</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <p class="projects-list-item-description">
                        During the Lockdown of 2020, I had some time and wanted a small side project.
                        I decided to learn more about Vue.js as I was using it for a work project at the same time.
                        The goal was to create a website that could autoscroll through image posts from Reddit.
                        With multiple monitors, I would use one for work and another one for scrolling through nature and city photos.
                    </p>
                </div>
            </div>
            
            
            <div class="box">
                <div class="block">
                    <div class="content">
                        <h3>GluhBot</h3>
                        <a href="https://github.com/modelorona/GluhBot" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github Repo</span>
                                <hr/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="block">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="tags">
                            <span class="tag is-info">Tech:</span>
                            <span class="tag is-white"><a href="https://www.python.org/" target="_blank">Python 3</a></span>
                            <span class="tag is-white"><a href="https://discordpy.readthedocs.io/en/stable/" target="_blank">discord.py</a></span>
                            <span class="tag is-white"><a href="https://developers.google.com/drive" target="_blank">Google Drive API</a></span>
                            <span class="tag is-white"><a href="https://www.crummy.com/software/BeautifulSoup/" target="_blank">BeautifulSoup4</a></span>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Host:</span>
                                <span class="tag is-white"><a href="https://www.heroku.com/" target="_blank">Heroku</a></span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Year:</span>
                                <span class="tag is-white is-outlined">2020</span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Type:</span>
                                <span class="tag is-white is-outlined">Personal Project</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <p class="projects-list-item-description">
                        A for-fun Discord bot made in my spare time to play audio files.
                        The program works by initially downloading audio files from a Google drive folder that I own. 
                        The bot then lets you play them by name in a voice channel.
                        Additionally, I implemented functionality to download blog posts from a specific URL and convert it to audio via a text-to-speech library. 
                        Unfortunately, the conversion proved slow, and thus I disabled it.
                    </p>
                </div>
            </div>
            
            
            <div class="box">
                <div class="block">
                    <div class="content">
                        <h3>Sustaina-bin-ity</h3>
                        <a href="https://github.com/hkdeman/hacktheburgh2020" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github Repo</span>
                            </span>
                        </a>
                        <a href="https://devpost.com/software/ecobin-jwz3ac" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fas fa-link"></i>
                                </span>
                                <span>Devpost</span>
                                <hr/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="block">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="tags">
                            <span class="tag is-info">Tech:</span>
                            <span class="tag is-white"><a href="https://www.python.org/" target="_blank">Python 3</a></span>
                            <span class="tag is-white"><a href="https://www.raspberrypi.org/" target="_blank">Raspberry Pi</a></span>
                            <span class="tag is-white"><a href="https://pjreddie.com/darknet/yolo/" target="_blank">YOLOv3</a></span>
                            <span class="tag is-white"><a href="https://web.archive.org/web/20210304215647/https://www.medidose.com/plasticstoragebin1bin.aspx" target="_blank">Plastic bins</a></span>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Year:</span>
                                <span class="tag is-white is-outlined">2020</span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Type:</span>
                                <span class="tag is-white is-outlined">Hackathon Project</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <p class="projects-list-item-description">
                        A Sustanabinity bin is the automatic robotic assistant that helps you figure out where you should throw your litter.
                        Without thinking, follow the signal or educate yourself by predicting the signal.
                        It creates a universal way of throwing trash without any gender/race/ethnicity bias as you are looking at a light that turns green or stays red.
                        This robotic assistant used image recognition to determine the type of litter, and a Raspberry Pi controlled several motors that opened and closed the relevant plastic garbage bin.
                        This robotic assistant was chosen for first place.
                    </p>
                </div>
            </div>
            
            
            <div class="box">
                <div class="block">
                    <div class="content">
                        <h3>Glasgow Science Centre Virtual Reality Tour</h3>
                        <a href="https://github.com/Glasgow19/team-11" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github Repo</span>
                                <hr/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="block">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="tags">
                            <span class="tag is-info">Tech:</span>
                            <span class="tag is-white"><a href="https://www.python.org/" target="_blank">Python 3</a></span>
                            <span class="tag is-white"><a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">Flask</a></span>
                            <span class="tag is-white"><a href="https://pjreddie.com/darknet/yolo/" target="_blank">YoloV3</a></span>
                            <span class="tag is-white"><a href="https://reactnative.dev/" target="_blank">React Native</a></span>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Year:</span>
                                <span class="tag is-white is-outlined">2019</span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Type:</span>
                                <span class="tag is-white is-outlined">Hackathon Project</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <p class="projects-list-item-description">
                        This was built for the JP Morgan & Chase Code for Good hackathon.
                        Our chosen charity was the Glasgow Science Centre, and we create a virtual reality tour that aimed to be easy to use and accessible for everyone.
                        The project was chosen for first place, and the idea was carried over to the JP Morgan & Chase Force for Good initiative that then created a complete solution for the Science Centre based on this.
                    </p>
                </div>
            </div>
            
            
            <div class="box">
                <div class="block">
                    <div class="content">
                        <h3>A Chatbot for University of Glasgow - External Relations</h3>
                        <a href="https://github.com/modelorona/External-Relations-Chatbot" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github Repo</span>
                                <hr/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="block">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="tags">
                            <span class="tag is-info">Tech:</span>
                            <span class="tag is-white"><a href="https://www.python.org/" target="_blank">Python 3</a></span>
                            <span class="tag is-white"><a href="https://cloud.google.com/dialogflow" target="_blank">Dialogflow</a></span>
                            <span class="tag is-white"><a href="https://www.djangoproject.com/" target="_blank">Django</a></span>
                            <span class="tag is-white"><a href="https://firebase.google.com/" target="_blank">Firebase</a></span>
                            <span class="tag is-white"><a href="https://reactjs.org/" target="_blank">ReactJS</a></span>
                            <span class="tag is-white"><a href="https://www.cypress.io/" target="_blank">Cypress</a></span>
                            <span class="tag is-white"><a href="https://sendgrid.com/" target="_blank">SendGrid</a></span>
                            <span class="tag is-white"><a href="https://aws.amazon.com/" target="_blank">AWS</a></span>
                            <span class="tag is-white"><a href="https://www.mysql.com/" target="_blank">MySQL</a></span>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Year:</span>
                                <span class="tag is-white is-outlined">2019</span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Type:</span>
                                <span class="tag is-white is-outlined">Dissertation</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <p class="projects-list-item-description">
                        This was my third year group dissertation project.
                        We were tasked with building a chatbot for the University to help deal with common queries regarding short courses.
                        For example, a common query could resemble "Hi, what is the price for the course Art in the Renaissance?" and the chatbot would be able to easily answer that.
                        This was done to relieve pressure from the administrations team.
                    </p>
                </div>
            </div>
            
            
            <div class="box">
                <div class="block">
                    <div class="content">
                        <h3>Learn X in Y Minutes Unofficial Android App</h3>
                        <a href="https://github.com/modelorona/LearnXinYMinutesUnofficalAndroidApp" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github (Android) Repo</span>
                            </span>
                        </a>
                        <a href="https://github.com/modelorona/xinydownloader" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github (Content Scraper) Repo</span>
                            </span>
                        </a>
                        <a href="https://play.google.com/store/apps/details?id=com.ah.xiny3&hl=en" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-google-play"></i>
                                </span>
                                <span>Google Play Link</span>
                                <hr/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="block">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="tags">
                            <span class="tag is-info">Tech:</span>
                            <span class="tag is-white"><a href="https://www.python.org/" target="_blank">Python 3</a></span>
                            <span class="tag is-white"><a href="https://www.java.com/en/" target="_blank">Java</a></span>
                            <span class="tag is-white"><a href="https://www.android.com/" target="_blank">Android</a></span>
                            <span class="tag is-white"><a href="https://firebase.google.com/" target="_blank">Firebase</a></span>
                            <span class="tag is-white"><a href="https://www.crummy.com/software/BeautifulSoup/" target="_blank">BeautifulSoup4</a></span>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Year:</span>
                                <span class="tag is-white is-outlined">2018</span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Type:</span>
                                <span class="tag is-white is-outlined">Personal Project</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <p class="projects-list-item-description">
                        This was my first Android application.
                        I am a big fan of the Learn X in Y Minutes website and wanted to see how I could translate it into a mobile app.
                        A separate Python script is run that scrapes the Learn X in Y Minutes Github page and generates the HTML content to be saved in Firebase's Firestore.
                        The app reads from the Firestore database and caches the content locally.
                    </p>
                </div>
            </div>
            
            <div class="box">
                <div class="block">
                    <div class="content">
                        <h3>3D Big Data Visualisation with Unity</h3>
                        <a href="https://github.com/modelorona/LearnXinYMinutesUnofficalAndroidApp" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Github (Android) Repo</span>
                            </span>
                        </a>
                        <a href="https://www.dropbox.com/s/an31k1ak3kj9sbf/craneware_presentation.mp4" target="_blank" referrerpolicy="no-referrer">
                            <span class="icon-text">
                                <span class="icon">
                                    <i class="fab fa-dropbox"></i>
                                </span>
                                <span>Presentation Video</span>
                                <hr/>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="block">
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="tags">
                            <span class="tag is-info">Tech:</span>
                            <span class="tag is-white"><a href="https://unity.com/" target="_blank">Unity</a></span>
                            <span class="tag is-white"><a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank">C#</a></span>
                            <span class="tag is-white"><a href="https://www.python.org/" target="_blank">Python</a></span>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Year:</span>
                                <span class="tag is-white is-outlined">2018</span>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tags">
                                <span class="tag is-info">Type:</span>
                                <span class="tag is-white is-outlined">Hackathon Project</span>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <p class="projects-list-item-description">
                            This was a group hackathon project from the Do You Have The GUTS Hackathon 2018.
                            Craneware's challenge was to see who could create the most creative way to visualise big medical data.
                            Our team created a 3D environment that showed scaled statistics of the various data points so that anyone could get "the big picture" view quickly.
                            The data manipulation and calculation were done in Python.
                            The Unity game engine was used to read the processed statistics and then generate the UI elements. The project took first place.
                        </p>
                    </div>
                </div>
            </div>								
        </div>   
</Layout>
