---
import Layout from "../layouts/Page.astro";
---

<Layout title="Resume" description="My resume">
  <div id="resume-content"></div>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.3.0/pdfobject.min.js"
    integrity="sha512-Nr6NV16pWOefJbWJiT8SrmZwOomToo/84CNd0MN6DxhP5yk8UAoPUjNuBj9KyRYVpESUb14RTef7FKxLVA4WGQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
</Layout>
